.vision {
  text-align: center;
  margin: 50px 0;
  .title {
    font-size: 26px;
    font-weight: 800;
    margin-bottom: 15px;
  }
  .content {
    max-width: 890px;
    font-size: 19px;
    font-weight: 600;
    line-height: 30px;
  }
}